.home {

  &__headerphoto {
    position: relative;
    width: 100%;
    /* for IE 6 */
  }

  &__headerphoto-text {
    position: absolute;
    left: 163px;
    bottom: 103px;
    width: 660px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;

    /* Color 3 */

    color: #FFFFFF;
  }

}