.home {

  &__headerphoto {
    position: relative;
    width: 100%;
    /* for IE 6 */
  }

  &__headerphoto-text {
    position: absolute;
    left: 163px;
    bottom: 103px;
    width: 660px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  &__screen3 {
    margin-top: 345px;
    background: url('../images/screen3bg.jpg');
    width: 100%;
    height: 1367px;
  }

  &__screen3title {
    max-width: 1530px;
    padding-top: 150px;
    padding-left: 163px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    text-transform: capitalize;
  }

  &__screen3imgcontainer {
    position: relative;
    padding-top: 54px;
    padding-left: 8.5%;
    padding-right: 8.5%;
    width: 100%;
  }

  &__screen3img {
    width: 100%;
  }

  &__screen3textcontainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 83%;
    height: 189px;
    backdrop-filter: blur(25px);
    margin-left: 8.5%;
    margin-right: 8.5%;
  }

  &__screen3text {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    width: 380px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 58px 0px 58px 63px;
  }

  &__screen5 {
    margin-top: 288px;
    background: url('../images/screen3bg.jpg');
    width: 100%;
    height: 1260px;
  }

  &__screen5title {
    padding-top: 153px;
    margin-left: 167px;
    width: 907px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
  }

}