.news {

  &__screen1 {
    margin: 190px 134px 0px 184px;
  }

  &__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.003em;
    color: #1A242D;
    max-width: 800px;
    margin-bottom: 107px;
  }

  &__screen2 {
    display: flex;
    margin-left: 7.8%;
    margin-top: 373px;
  }

  &__column1 {

    max-width: 423px;

    &title {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
      color: #362A43;
    }

    &subtitle {
      width: 423px;
      font-family: 'Urbanist';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #464646;
    }

  }

  &__column2 {
    max-width: 389px;
    margin-left: 13px;

    &elem {

      padding-top: 36px;
      border-bottom: 1px solid #D4D4D4;

      &title {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #272727;
      }

      &text {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #525252;
        margin-top: 8px;
        margin-bottom: 36px;
      }

    }

  }

  &__column3 {
    margin-left: 36px;
    padding-left: 36px;
    border-left: 1px solid #D4D4D4;
    ;
  }

}