@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
/*font-family: 'Inter',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
/*font-family: 'Merriweather',serif;*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
/*font-family: 'Playfair Display',serif;*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
/*font-family: 'Space Grotesk',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*font-family: 'Poppins',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
/*font-family: 'Urbanist',sans-serif;*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  height: 158px;
  margin: 0px 103px;
  display: flex;
  justify-content: space-between;
}
.header__button {
  width: 24px;
  height: 24px;
  margin-top: 57px;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11.5px;
  margin-left: 140px;
}
.header__logotext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.header button {
  margin-top: 44px;
  width: 177px;
  height: 50px;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: rgba(255, 179, 201, 0.2);
  border-radius: 65px;
  border: 0px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  height: 80px;
  margin: 0px 103px;
}
.menu__itempanel {
  display: flex;
  gap: 36px;
  height: 100%;
}
.menu__item {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}
.menu__item:first-child {
  font-weight: 600;
}
.menu__item a {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu input {
  width: 338px;
  height: 48px;
  border: 1px solid #8C8C8C;
  border-radius: 35px;
}

.home__headerphoto {
  position: relative;
  width: 100%;
  /* for IE 6 */
}
.home__headerphoto-text {
  position: absolute;
  left: 163px;
  bottom: 103px;
  width: 660px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.home__screen3 {
  margin-top: 345px;
  background: url("../images/screen3bg.jpg");
  width: 100%;
  height: 1367px;
}
.home__screen3title {
  max-width: 1530px;
  padding-top: 150px;
  padding-left: 163px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-transform: capitalize;
}
.home__screen3imgcontainer {
  position: relative;
  padding-top: 54px;
  padding-left: 8.5%;
  padding-right: 8.5%;
  width: 100%;
}
.home__screen3img {
  width: 100%;
}
.home__screen3textcontainer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 83%;
  height: 189px;
  backdrop-filter: blur(25px);
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.home__screen3text {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 380px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 58px 0px 58px 63px;
}

.services {
  margin-top: 334px;
}
.services__title {
  margin-left: 753px;
}
.services__titlemaintext {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: start;
}
.services__titletext {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 423px;
  margin-top: 8px;
}
.services__content {
  margin-left: 160px;
  display: flex;
}
.services__contentleftside {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  width: 532px;
  margin-top: 63px;
}
.services__contentrightside {
  display: flex;
  max-width: 1230px;
  gap: 30px;
  padding-left: 60px;
  padding-top: 43px;
  overflow: hidden;
}
.services__contentelem {
  min-width: 350px;
  min-height: 568px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
}
.services__contentelemimg {
  padding: 20px;
}
.services__contentelemtitle {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  padding: 0px 30px 0px 30px;
}
.services__contentelemtext {
  padding: 14px 32px 18px 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.services__contentelembutton {
  display: flex;
  padding: 0px 0px 20px 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.services__contentelembutton img {
  padding: 0px 0px 0px 20px;
}
