@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
/*font-family: 'Inter',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
/*font-family: 'Merriweather',serif;*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
/*font-family: 'Playfair Display',serif;*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
/*font-family: 'Space Grotesk',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*font-family: 'Poppins',sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
/*font-family: 'Urbanist',sans-serif;*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: black;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 1714px;
  height: 80px;
  margin: 0px 103px;
}
.menu__itempanel {
  display: flex;
  gap: 36px;
  height: 100%;
}
.menu__item {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}
.menu__item:first-child {
  font-weight: 600;
}
.menu__item a {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu input {
  width: 338px;
  height: 48px;
  border: 1px solid #8C8C8C;
  border-radius: 35px;
}

.home__image1 {
  position: relative;
  width: 100%;
  /* for IE 6 */
}
.home__image1-text {
  position: absolute;
  left: 163px;
  bottom: 103px;
  width: 660px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  /* Color 3 */
  color: #FFFFFF;
}

body {
  font-family: 'Urbanist', sans-serif;
}
